<app-splash
        [appname]="appname"
        [duration]="2000"
        [image]="visual"
        [description]="claim"></app-splash>

<mat-icon style="color:lightgray;display: block;position: fixed;right:5px;top:5px;opacity: 0.3;cursor: pointer;z-index: 10;"
          (click)="open_about()">
    help
</mat-icon>

<mat-icon style="color:lightgray;display: block;position: fixed;right:35px;top:5px;opacity: 0.3;cursor: pointer;z-index: 10;"
          (click)="open_share()">
    share
</mat-icon>

<div
     (click)="open_full_screen()"
     style="width:100%;min-height:100%;color:lightgrey;position: fixed;top:0;left:0;text-align: center;background-size:cover;" [style.background-image]="'url('+background+')'">


    <div [innerHTML]="svg | safe"
         style="position:absolute;display:block;z-index:10;left:0;top:0;height: 100vh;width:100vw;"
         *ngIf="svg.length>0 && !svg.startsWith('http')"
        >
    </div>

        <app-showroom [nfts]="nfts"
                      [exclude_collections]="excludes_collections"
                      [size]="zone_nft.size"
                      [delay]="duration"
                      style="position:absolute;display: block;"
                      [style.left]="zone_nft.left" [style.top]="zone_nft.top"
                      (update)="update_nft($event)"
                      *ngIf="nfts.length>0 && animation=='crossfade'"></app-showroom>

    <div class="mat-headline-6" style="margin-top: 2vh;">
        {{nft_title}}
        <app-hourglass [message]="message"></app-hourglass>
    </div>

<!--    "<a href=\"https://xportal.com/\" target=\"_blank\">xPortal</a>"-->
    <div style="margin-top: 1vh;max-width: 350px;display: inline-block;" *ngIf="nfts.length==0 && showAuthent">
        <div class="mat-headline-6" *ngIf="network.indexOf('elrond')>-1">
            {{'Flasher depuis xPortal pour afficher vos NFTs' | translate}}
            <span *ngIf="network.indexOf('devnet')>-1">(du devnet)</span>
            {{'sur cet écran' | translate}}
        </div>
        <br>
        <app-authent [showWalletConnect]="authent_mode.wallet_connect"
                     [directShowQRCode]="direct_showqrcode"
                     [showWebWallet]="authent_mode.web_wallet"
                     [showNfluentWalletConnect]="authent_mode.nfluent_wallet_connect"
                     title=""
                     (dblclick)="switch_authent_mode()"
                     [showExtensionWallet]="authent_mode.extension_wallet"
                     [showCancel]="false"
                     [network]="network"
                     (authent)="on_authen($event)"></app-authent>
    </div>

    <br>
    <div style="margin-top:7vh;display: inline-block;opacity: 1;color:lightgrey;" class="mat-headline-6" *ngIf="nfts.length==0">
        {{"Cliquer n'importe ou pour passer en plein écran" | translate}}
    </div>


    <app-authent [showWalletConnect]="true"
                 [directShowQRCode]="true"
                 size="120px"
                 [showDirectConnect]="false"
                 [intro_message]="'Exposez vos NFTs' | translate"
                 style="font-size:small;width:120px;display: block;position: absolute;right:10px;bottom:0;z-index: 10;opacity: 0.6;"
                 *ngIf="nfts.length>0 && canChange"
                 [network]="network"
                 [showCancel]="false"
                 (authent)="on_authen($event)"></app-authent>
</div>

