<app-splash
        [appname]="appname"
        [duration]="2000"
        [image]="visual"
        [description]="claim"></app-splash>

<div style="width: 100vw;text-align: center;overflow: hidden;color:gray;" (click)="open_full_screen()"
     class="background-form"
     [style.background-image]="'url('+background+')'">

    <div [innerHTML]="svg | safe"
         *ngIf="svg.length>0 && !svg.startsWith('http')"
         style="position: absolute;left:0;top:0;width:100vw;height: 100vh;">
    </div>

        <mat-icon style="color:gray;display: block;position: absolute;right:5px;top:5px;opacity: 0.3;cursor: pointer;"
                  (click)="open_about()">
            help
        </mat-icon>

        <app-showroom [nfts]="nfts"
                      [exclude_collections]="excludes_collections"
                      [size]="zone_nft.size"
                      [delay]="duration"
                      style="position:absolute;display: block;"
                      [style.left]="zone_nft.left" [style.top]="zone_nft.top"
                      (update)="update_nft($event)"
                      *ngIf="nfts.length>0 && animation!='svg'"></app-showroom>

    <div class="mat-headline-5" style="margin-top: 20vh;">
        {{nft_title}}
        <app-hourglass [message]="message"></app-hourglass>
    </div>

    <app-authent [showWalletConnect]="true"
                 [directShowQRCode]="true"
                 title="Flasher depuis xPortal pour présenter vos NFTs"
                 [showExtensionWallet]="true"
                 style="margin-top: 20vh;"
                 *ngIf="nfts.length==0 && showAuthent"
                 [showCancel]="false"
                 [network]="network"
                 (authent)="on_authen($event)"></app-authent>

    <app-authent [showWalletConnect]="true"
                 [directShowQRCode]="true"
                 size="120px"
                 [showDirectConnect]="false"
                 intro_message="Exposez vos NFTs"
                 style="font-size:small;width:120px;display: block;position: absolute;right:10px;bottom:0;z-index: 10;opacity: 0.6;"
                 *ngIf="nfts.length>0 && canChange"
                 [network]="network"
                 [showCancel]="false"
                 (authent)="on_authen($event)"></app-authent>
</div>

